@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h2>Log in</h2>
    <div class="d-flex justify-content-center">
        <div class="col-md-5 p-5 card">
            <form method="post" asp-action="Login">
                <p><input class="form form-control" type="text" name="email" value="" placeholder="Username or Email" required></p>
                <p><input class="form form-control" type="password" name="password" value="" placeholder="Password" required></p>
                <p><button class="btn btn-success btn-sm" type="submit">Submit</button></p>
            </form>
        </div>
    </div>
</div>