@model skill_test.Models.User.User;
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="d-flex justify-content-between">
        <a class="text-right" asp-action="LoginPage" asp-controller="Login">Logout</a>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome  @Html.DisplayFor(model => model.LastName)</h1> 
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
